<h1 *ngIf="room == ''" class="text-center text-2xl font-bold my-4 text-white">Welcome {{avatar}}</h1>
<h1 *ngIf="room != ''" class="text-center text-2xl font-bold my-4 text-white">Welcome to the room: {{room}}</h1>

<form *ngIf="room == ''" (submit)="createRoom()" class="max-w-md mx-auto">
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_email" id="floating_email" [(ngModel)]='floating_email'
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" " required />
        <label for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Room
            name</label>
    </div>


    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>


<div *ngIf="room != ''" class="flex justify-center items-center min-h-96">
    <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-end px-4 pt-4">
            <div id="dropdown"
                class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                
            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{image}}" alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"></h5>
            <span class="text-sm text-gray-500 dark:text-gray-400"></span>
            <div class="flex mt-4 md:mt-6">
                <button (click)="ppt(0)" routerLink="/create-match"
                    class="py-2 px-4 ms-2 text-sm font-medium text-white bg-blue-500 rounded-lg border border-gray-200 hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-700">Rock</button>
                <button (click)="ppt(1)"
                    class="py-2 px-4 ms-2 text-sm font-medium text-white bg-orange-500 rounded-lg border border-gray-200 hover:bg-orange-600 focus:outline-none focus:ring-4 focus:ring-orange-300 dark:focus:ring-orange-700">Scissors</button>
                <button (click)="ppt(2)"
                    class="py-2 px-4 ms-2 text-sm font-medium text-white bg-green-500 rounded-lg border border-gray-200 hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300 dark:focus:ring-green-700">Paper</button>

            </div>
        </div>
    </div>
</div>